In [1]:
import findspark
findspark.init()

import pyspark
import random

import os
os.environ['PYSPARK_SUBMIT_ARGS'] = '--jars /opt/spark/user-jars/tg-jdbc-driver-1.2.jar pyspark-shell'

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField
from pyspark.sql.types import StringType, IntegerType

In [3]:
spark = SparkSession.builder.appName("TigerGraphAnalysis").getOrCreate()

In [4]:
jdbcDF = spark.read \
  .format("jdbc") \
  .option("driver", "com.tigergraph.jdbc.Driver") \
  .option("url", "jdbc:tg:http://protomolecule.magichome:32176") \
  .option("user", "tigergraph") \
  .option("password", "Tigergraph") \
  .option("graph", "Northwind") \
  .option("dbtable", "vertex Orders") \
  .option("limit", "10") \
  .option("debug", "0") \
  .load()

jdbcDF.show()

+-----+----------+----------+-------------------+-------------------+-------------------+-------+-------+--------------------+--------------------+-----------+----------+--------------+-----------+-----------+----------------+-----------+------------+
| v_id|CustomerID|EmployeeID|          OrderDate|       RequiredDate|        ShippedDate|ShipVia|Freight|            ShipName|         ShipAddress|   ShipCity|ShipRegion|ShipPostalCode|ShipCountry|OrderAmount|CommissionAmount|fraud_score|ReturnedDate|
+-----+----------+----------+-------------------+-------------------+-------------------+-------+-------+--------------------+--------------------+-----------+----------+--------------+-----------+-----------+----------------+-----------+------------+
|11077|     RATTC|         1|1998-05-06 00:00:00|1998-06-03 00:00:00|1970-01-01 00:00:00|      2|   8.53|Rattlesnake Canyo...|     2817 Milton Dr.|Albuquerque|        NM|         87110|        USA|  1255.7205|           62.79|        0.0|            |
|10576|     TORTU|         3|1997-06-23 00:00:00|1997-07-07 00:00:00|1997-06-30 00:00:00|      3|  18.56| Tortuga Restaurante|    Avda. Azteca 123|México D.F.|          |          5033|     Mexico|     838.45|           41.92|        0.0|            |
|10568|     GALED|         3|1997-06-13 00:00:00|1997-07-11 00:00:00|1997-07-09 00:00:00|      3|   6.54|Galería del gastr...|Rambla de Cataluñ...|  Barcelona|          |          8022|      Spain|      155.0|             0.0|        0.0|            |
|10571|     ERNSH|         8|1997-06-17 00:00:00|1997-07-29 00:00:00|1997-07-04 00:00:00|      3|  26.06|        Ernst Handel|        Kirchgasse 6|       Graz|          |          8010|    Austria|   550.5875|           27.53|        0.0|            |
|11038|     SUPRD|         1|1998-04-21 00:00:00|1998-05-19 00:00:00|1998-04-30 00:00:00|      2|  29.59|    Suprêmes délices| Boulevard Tirou 255|  Charleroi|          |        B-6000|    Belgium|      732.6|             0.0|        0.0|            |
|10696|     WHITC|         8|1997-10-08 00:00:00|1997-11-19 00:00:00|1997-10-14 00:00:00|      3| 102.55|White Clover Markets| 1029 - 12th Ave. S.|    Seattle|        WA|         98124|        USA|      996.0|             0.0|        0.0|            |
|10441|     OLDWO|         3|1997-02-10 00:00:00|1997-03-24 00:00:00|1997-03-14 00:00:00|      2|  73.02|Old World Delicat...|     2743 Bering St.|  Anchorage|        AK|         99508|        USA|     1755.0|             0.0|        0.0|            |
|10572|     BERGS|         3|1997-06-18 00:00:00|1997-07-16 00:00:00|1997-06-25 00:00:00|      2| 116.43|  Berglunds snabbköp|     Berguvsvägen  8|      Luleå|          |      S-958 22|     Sweden|   1501.085|           75.05|        0.0|            |
|10393|     SAVEA|         1|1996-12-25 00:00:00|1997-01-22 00:00:00|1997-01-03 00:00:00|      3| 126.56|  Save-a-lot Markets|     187 Suffolk Ln.|      Boise|        ID|         83720|        USA|    2556.95|          127.85|        0.0|            |
|11004|     MAISD|         3|1998-04-07 00:00:00|1998-05-05 00:00:00|1998-04-20 00:00:00|      1|  44.84|        Maison Dewey| Rue Joseph-Bens 532|  Bruxelles|          |        B-1180|    Belgium|     295.38|             0.0|        0.0|            |
+-----+----------+----------+-------------------+-------------------+-------------------+-------+-------+--------------------+--------------------+-----------+----------+--------------+-----------+-----------+----------------+-----------+------------+